@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: '源暎エムゴ', sans-serif;
  overflow-y: scroll;
}

.font-awesome {
  height: 1em;
  vertical-align: -0.125em;
  width: 1em;
}

#app[inert] {
  user-select: none;
  pointer-events: none;
  cursor: default;
}
