{
    admin off

    servers :443 {
        protocol {
            experimental_http3
        }
    }
}

web-speed-hackathon-online-2021-mini2.sapphi.red

encode zstd gzip

root * /usr/share/caddy
file_server {
    precompressed br gzip
}

@route-html {
    path / /users/* /posts/* /terms
}
handle @route-html {
    push * {__MAIN_JS__}
    push * {__MAIN_CSS__}
    rewrite dist/index.html

    header / Link "</api/v1/posts?offset=0&limit=3>; rel=preload; as=fetch; crossorigin=anonymous; nopush"

    @route-html-users {
        path_regexp userID ^/users/(.+)$
    }
    header @route-html-users Link "</api/v1/users/{re.userID.1}>; rel=preload; as=fetch; crossorigin=anonymous; nopush, </api/v1/users/{re.userID.1}/posts?offset=0&limit=3>; rel=preload; as=fetch; crossorigin=anonymous; nopush"

    @route-html-posts {
        path_regexp postID ^/posts/(.+)$
    }
    header @route-html-posts Link "</api/v1/posts/{re.postID.1}>; rel=preload; as=fetch; crossorigin=anonymous; nopush, </api/v1/posts/{re.postID.1}/comments?offset=0&limit=3>; rel=preload; as=fetch; crossorigin=anonymous; nopush"

    header /terms Link "</fonts/webfont.css>; rel=preload; as=style"
}

@static-files {
    not {
        path /movies/* /images/* /sounds/* /api/*
    }
}
handle @static-files {
    @immutable {
        path /scripts/* /styles/*
    }
    header @immutable Cache-Control "public, max-age=604800, immutable"

    try_files dist{path} public{path} dist/index.html
}

@pre-defineds {
    path /movies/* /images/* /sounds/*
    file {
        try_files public{path}
    }
}
handle @pre-defineds {
    try_files public{path}
}

handle {
    reverse_proxy server:3000
}
